* {
	font-family:ubuntu;
}
header{
	width:100%;
	height:320px;
	margin:0 auto;
	background: url("img/lake.jpg") top center no-repeat fixed;
	background-size: cover;
	
}
.typed-cursor{
	opacity:1;
}
@keyframes blink{
	0% {opacity:1;}
	50% {opacity:0;}
	100% {opacity:1;}
}
.terminal-wrap{
	width:80vw;
	height:210px;
	margin:0 auto;
	border:0.5px solid gray;
	border-radius:10px;
	overflow:hidden;
}
.terminal-title{
	text-align:center;
	background:white;
	background:linear-gradient(white,#BEB2BC);
	background:-webkit-linear-gradient(white,#BEB2BC);
}
.terminal-body{
	padding-left:0.1em;
	font-size:1.5em;
	background-color:#201F20;
	color:white;
	min-height:98%;
	width:inherit;
}
.main{
	width:100vw;
	height:auto;
	margin:0 auto;
	overflow:hidden;

}
.selfie{
	width:100%;

}

.aboutMeText{
	width:100%;
	padding-top:1em;
}
#aboutMe{
	font-weight:700;
}
.name{
	text-align:center;
	font-size:2em;
	font-weight:600;
	color:white;
}

.skill{
	width: 100%;
	height: 250px;
	overflow:hidden;
}
.technologies{
	width:100%;
	font-size:0.8em;
	display:inline-block;
	height:inherit;
	overflow:hidden;
	
}
.robot{
	display:none;
	max-width:none;
	width:auto;
	height:auto;
	margin-left:-4px;
	height:inherit;
	vertical-align:top;
}
.robot object{
	max-width:80%;
	width:auto;
	height:auto;

}
#projectSection{
	text-align:center;
}
.projects {
	width:100%;
	height:520px;

}
.project{
	display:inline-block;
	width:90%;
	height:auto;
	margin:0 auto 10px;
	padding-left:10%;
}
.project img{
	width:auto;
	max-width:80%;
	height:auto;
	margin:0 auto;
}


